################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simple Snake Game/.vs/Simple Snake Game/v16
